<table class="table table-bordered table-condensed">
    <tr>
        <th></th>
        <th class="event-cell"><label><input type="checkbox" class="event-alerts-master-checkbox" title="Select all alerts"></input></label></th>
        <th><span>Date</span></th>
        <th><span>(Priority) Alert</span></th>
        <th><span>Owner</span></th>
        <th><span>Disposition</span></th>
        <th><span>Status</span></th>
    </tr>
    {% for alert in alerts %}
    <tr>
        <td>{% include "analysis/_observable_expand_button.html" %}</td>
        {# the queue and owner feed the selection guard of the bulk disposition dialog
           (selected_event_alert_descriptions() in events.js) #}
        <td class="event-cell"><label><input type="checkbox" name="detail_{{event.id}}_{{alert.id}}" data-alert-uuid="{{alert.uuid}}" data-alert-disposition="{{ alert.disposition if alert.disposition else '' }}"
            data-alert-queue="{{ alert.queue }}" data-alert-owner-id="{{ alert.owner_id if alert.owner_id is not none else '' }}"
            data-alert-owner-name="{{ alert.owner.gui_display if alert.owner else '' }}"
            data-alert-owner-enabled="{{ '1' if alert.owner and alert.owner.enabled else '0' }}"></input></label></td>
        <td style="white-space: nowrap;">{{alert.insert_date}}</td>
        <td>
            <a target="_blank" href="{{ url_for('analysis.index', direct=alert.uuid) }}">({{alert.priority}}) {{alert.description}}</a>
            {% for tag in alert_tags[alert.uuid] %}
              {% if tag.display %}<span class="badge text-bg-{{tag.name | get_tag_css_class}}">{{tag.name}}</span>{% endif %}
            {% endfor %}
            {% include "analysis/_remediation_badge.html" %}
            {% if comments[alert.uuid]|length != 0 %}
                {% for comment in comments[alert.uuid] %}
                    <br />
                    <span style="font-size: x-small;">
                        ({{ comment.user.gui_display }}) <span class="comment-text">{{ comment.comment }}</span>
                    </span>
                {% endfor %}
            {% endif %}
        </td>
        <td>{{alert.owner.gui_display}}</td>
        <td>{{alert.disposition}}</td>
        <td>{{alert.status}}</td>
    </tr>
    {% endfor %}
</table>
